/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the Blog page (blog.php) when users are reading a particular blog */

/* To present the Blog title and blogger details as white and centered */
.headers {
  position: relative;
  width: 100%;
  height: auto;
  margin: 30px auto;
  font-size: 20px;
  text-align: center;
  color: white;
}

/* To style the blog title */
.headers h1{
  border-bottom: double;
  font-size: 50px;
  text-align: center;
}

/* To set out the position of the whole blog within the window */
.blogContainer{
  background-color: #D8D8D7;
  width: 75%;
  height: 580px;
  margin: 20px auto;
  text-align: center;
  overflow: scroll;
}

/* To set up the images below each blog stories */
.blogContainer img{
  width: 15%;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 20px;
}

/* To set up the videos below each blog stories */
.blogContainer video{
  width: 350px;
  height: 300px;
  position: relative;
  display: inline-block;
  padding: 20px;
}
