/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the Contact us page (contactUs.php) when users want to know how to call or em,ail milestonereached
*/


/* To present the Contacts title as white and centered */
.headers{
  position: relative;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  font-size: 25px;
}

/* Put a double line below the Title contacts */
.headers h1{
  border-bottom:double;
}

/* To center the whole container within the page and set their font size */
.main-container{
  text-align: center;
  font-size: 20px;
}

/* To set the size of the google maps API within the contact us page */
#branchMap{
  position: relative;
  height: 300px;
  width: 60%;
  margin: 100px auto;
}
