/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the Create Blog page (createBlog.php) when users want to know how to call or em,ail milestonereached
*/

/* To present the Create Blog Title as white and centered */
h1{
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 40px;
  color: white;
  border-bottom: double;
}

/* Set the style of the form that will contain blog details centered and will fit the page */
.createBlogForm{
  background-color: #D8D8D7;
  position: relative;
  text-align: left;
  width: 50%;
  height: auto;
  margin: 40px auto;
  opacity: 1;
}

/* To style out the form where user information will be provided */
input[type=text], input[type=password], input[type=file], textarea{
    width: 100%;
    padding: 4px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style out the buttons within the Creation of blog */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Set a hovering effect for the buttons */
input[type=submit]:hover {
    opacity: 0.8;
}


/* Set padding to the containers */
.create-container {
    padding: 16px;
}


/* FUTURE FEATURE: To change the styles for the button on small screens*/
/* @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} */
