/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the Destination page (destinations.php)
where users will be able to see a Geo chart that displays how many blogs are located on each continent

*/

/* Style up the Destination text within the page and Putting a double line below it*/
.header{
  position: relative;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  font-size: 25px;
}

.header h1{
  border-bottom:double;
}

h2{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  margin: 30px auto;
}

#continents_div{
  width: 900px;
  height: 500px;
  margin: 30px auto;
}
