/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the homepage (index.php) when a guests or a user visits
*/

/* To place the welcoming text to the center of the page */
.headers{
  position: relative;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  font-size: 25px;
}
/* Putting a double line below the Milestone Reached website text */
.headers h1{
  border-bottom:double;
}
/* Set the top blog in the middle of the homepage */
.topBlogContainer{
  position:relative;
  background-color: #D8D8D7;
  width: 50%;
  margin: 20px auto;
}

/* Set the image of the top blog and becomes transparent when detecting a mouse hover */
.topBlogContainer img{
  opacity: 1;
  display:block;
  width: 100%;
  height:auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* To set the Top blog's title to appear at the center of the image when detecting a mouse hover */
.topBlogTitle{
  position:absolute;
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Image becomes transparet */
.topBlogContainer:hover img{
  opacity: 0.3;
}

/* Title of the blog appears */
.topBlogContainer:hover .topBlogTitle{
  opacity: 1;
}

/* Style for the Blog's title */
.text{
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-size: 4vw;
}

/* styles of the Blogger details */
.topBlogDetails{
  position: relative;
  text-align: center;
  width: 100%;
}

h1{
  font-style: oblique;
  font-size: 50px;
}
h2{
  font-style: italic;
  font-size: 30px;
}
