/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the Login page (login.php) when a registered user wants to login
*/

/* To place the welcoming text to the center of the page */
.headers{
  position: relative;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  font-size: 25px;
}

/* To place the double white lines below the welcoming text */
.headers h1{
  border-bottom:double;
}

/* To place the login form in the center of the page with a decent height and size */
.loginForm{
  background-color: #D8D8D7;
  position: relative;
  text-align: left;
  width: 50%;
  height: auto;
  margin: 150px auto;
  opacity: 1;
}

/* FUTURE feature: for adding the styles of the forgot password for users */
/* #help{
  margin: 0 auto;
  font-weight: bold;
} */


/* To put a greyish colour border on the login form */
form {
    border: 3px solid #f1f1f1;
}

/* To Set a decent style and spacing between texts within the forms that user can provide their email and password*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 4px 20px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* To set a style for the buttons */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

/* Setting a hovering effect for the login button */
input[type=submit]:hover {
    opacity: 0.8;
}

/*To set the spacing withing the containers */
.container {
    padding: 16px;
}

/* FUTURE FEATURE: to style out the forgot password text */
/* span.psw {
    float: right;
    padding-top: 16px;
} */

/* FUTURE FEATURE: to style out the forgot password text */
/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} */


/* References:
w3schools. 2018. "How TO - Login Form". https://www.w3schools.com/howto/howto_css_login_form.asp

*/
