/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the Logout page (login.php) when a registered user just logged out
*/
.mainContainer{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  float: left;
}

/* To place the Logout message or text to the center of the page */
.headers{
  position: relative;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  font-size: 25px;
}

/* To place the double white lines below the welcoming text */
.headers h1{
  border-bottom:double;
}
