/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the whole website's background and taskbar
This file is inherited by all the php files within the pages directory.
*/

/* To set the image to full size */
body,html{
  min-height: 100%;
}

/* To set the overall background and borders */
body{
  margin: 0;
  padding: 0;
  background-image: url("../img/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* To place the logo in the top left side of each page */
.menu-bar img{
  float:left;
}

/* To style the background of the navigation bar */
ul.menuList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: sans-serif;
}

/* To place the navigation bar in the top left side of each page */
ul.menuList li{
  float: left;
}

/* Styles for the Text within the navigation bar */
ul.menuList li a{
    color: white;
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change back the colour after hover */
ul.menuList li a:hover:not(.active) {
    background-color: grey;
}

/* To have a interactive hover change of colour on the navigation bar */
ul.menuList li a.active {background-color: #4CAF50;}

/* TO position the logo, text and navigation bar horizontally or vertically depending on the window size  */
@media screen and (max-width: 900px){
    ul.menuList li {float:none}
}
@media screen and (max-width: 900px){
    .menu-bar img {width:100%; height:auto; float:none}
}
