/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the myProfile page (myProfile.php) when a registered user is logged in and wants to access the profile settings
*/

.mainContainer{
  float: left;
  width: 100%;
}

/* To set the MyProfile Text to be in the middle and with a line below it */
h1{
  width: 100%;
  height: auto;
  text-align: center;
  border-bottom: double;
  color: white;
  font-size: 40px;
}

/* To set the whole settings into the middle of the page and large enough to fit all the possible choices of settings */
#choicesContainer{
  width: 50%;
  height:auto;
  margin: 30px auto;
  background-color: #D8D8D7;
}

/* To set the style and spacing  for each settings and their associated title */
#choicesContainer div{
    width: 150px;
    height: auto;
    position: relative;
    display: inline-block;
    background-color: orange;
    margin: 20px;

}

/* To set the style of the Title for each setting */
#choicesContainer p{
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;

}

/* To set the styles of each image for each setting */
#choicesContainer img{
  position: relative;
  width: 100%;
  height: 150px;
}
