/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the myProfile page (myProfile.php) when a registered user wants to login
*/

/* To place the Popular Post text to the center of the page */
.headers{
  position: relative;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  font-size: 25px;
}

/* To place a double line below the Populat Post text  */
.headers h1{
  border-bottom:double;
}

/* To set the Most viewed category in the middle part of the page just below the Popular Post Text */
.most-viewed{
  position: relative;
  width: 75%;
  height: auto;
  margin: 15px auto;
  background-color: #D8D8D7;
  overflow: auto;

}

/* To set the image within the Most viewed category container */
.most-viewed img{
  display: inline-block;
  position: relative;
  float: left;
  width: 20%;
  height: auto;
  margin: 10px 20px;
}

/* To set the Most Liked category below the Most viewed category */
.most-liked{
  position: relative;
  width: 75%;
  height: auto;
  margin: 15px auto;
  background-color: #D8D8D7;
  overflow: auto;
}

/* To set the image within the Most Liked category container */
.most-liked img{
  position: relative;
  float: left;
  width: 20%;
  height: auto;
  background-color: #D8D8D7;
  margin: 10px 20px;
}

/* To set the text for Most Viewed and Liked headers within the page */
h2{
  border-bottom: double;
  font-style: oblique;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 5px;

}
