/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the profile page (profile.php) when a registered user just logged in and directed to their profile
*/

/* To set the style and place the Profile text to the center of the page */
h1{
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  font-size: 40px;
  border-bottom: double;
}

/* To set the container that will contain the profile details of the user withint he page with decent height and width */
.profileContainer{
  width: 75%;
  height:auto;
  margin: 30px auto;
  background-color: #D8D8D7;
}

/* To set the image size of the user within the profile page */
.profileContainer img{
  position: relative;
  float: left;
  padding: 20px;
  display: inline-block;
}

/* To set the style of the container that will contain the a collection of blogs of the user */
.blogCollection{
  position:relative;
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  margin: 20px auto;
}

/* To position all the header classes with relative position within each blog */
.header{
  position:relative;
}

/* To position and space the Blog Category Text within the profile page */
.header2{
  position: relative;
  border-bottom: double;
  padding-left: 20px;
  padding-top: 20px;
}

 /* Set the list to have enough size to present enough number of blogs within the page */
.blogCollection ul{
  width: 100%;
}

/* To set the style and position each blog's image, text and details within the profile page of the user with a scroll bar when there is too many blogs*/
.blogCollection li{
  /*float: left;*/
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  text-align: center;
  margin: 10px;
  overflow: auto;
}
