/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the Registration page (register.php) when a guest wants to register
*/

/* To set the style and place the Registration text to the center of the page */
.headers{
  position: relative;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  font-size: 25px;
}

/* To place the double white lines below the Registration text */
.headers h1{
  border-bottom:double;
}

/* To place the registration form in the middle of the page with a decent height and width */
.registerForm{
  background-color: #D8D8D7;
  position: relative;
  text-align: left;
  width: 50%;
  height: auto;
  margin: 40px auto;
  opacity: 1;
}



/* To set the spacing and style for the form that users can provide their information from */
input[type=text], input[type=password], input[type=file], textarea{
    width: 100%;
    padding: 4px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* To set the style for the buttons */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* To set a hovering effect on the button */
input[type=submit]:hover {
    opacity: 0.8;
}


/*To set the spacing withing the containers */
.reg-container {
    padding: 16px;
}

/* FUTURE FEATURE: to style out the forgot password text */
/* span.psw {
    float: right;
    padding-top: 16px;
} */

/* FUTURE FEATURE: to style out the forgot password text */
/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} */

/* References:
w3schools. 2018. "How TO - Register Form". https://www.w3schools.com/howto/howto_css_register_form.asp

*/
