/* Assignment 2: Business Web Technology
Author: Stephen Mina
Student Number: 17072290

Purpose:
The purpose of this css file is to set the styles up for the Scrapbook page (scrapbook.php) when a users or guest were to browse for any blogs
*/

/* To place the Scrapbook text to the center of the page */
.headers{
  position: relative;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  font-size: 25px;
}

/* To place a double line below the Scrapbook text */
.headers h1{
  border-bottom:double;
}

/* To position the Scrapbook container that will contain the colleciton of blogs in the center of the page with a decent size and width */
.scrapBook-container{
  position:relative;
  background-color: #D8D8D7;
  width: 75%;
  height: 600px;
  overflow: auto;
  margin: 20px auto;

}

/* To set the the spacing between each blog within the collection of blogs within list*/
.scrapBook-container ul{
  overflow: auto;
  margin: 30px 30px;
  padding: 20px 20px;
  text-align: center;
}

/* To set the style and spacing of a container that will contain the details for each blog */
.scrapBook-container li{
  position: relative;
  display: inline-block;
  margin: 30px 30px;
  width: 150px;
  height: auto;
  overflow:auto;
}

/* To set the size and spacing of the image for each blog within the list's container */
.scrapBook-container img{
  opacity: 1;
  display:block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* To make sure that when a user were to provide a very long summary, the user will be able to scroll across the particular blog to see the whole summary */
.scrapBook-container p{
  overflow: auto;
}
